.contact{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;

    background: linear-gradient(to top left,#2F80ED,#56CCF2);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

h4{
    font-weight: bold;
}

.contact-us-info{
    border-left: 2px solid black;
    padding-left: 20px;
}

address a{
    text-decoration: none;
    color: black;
}


@media(max-width:900px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-us-info{
        border: none;
        padding: 10px;
    }
}

