.footer{
    margin-top: 30px;
    background-color: #242B2E;
    color: white;
    padding: 20px;
}

.footer-container{
    margin-bottom: 15px;
}

.footer-pages{
    margin-bottom: 20px;
}

.footer-pages a{
    color: white;
    margin-right: 10px;
}
.footer-pages a:hover{
    text-decoration: underline;
}

.footer-outro a{
    color: white;
    text-decoration: underline;
}


.footer-social-links img{
    height: 15px;
    vertical-align: top;
}


.footer-outro p{
    margin: 0;
    margin-bottom: 5px;
}