
/* nav1 starts here  */

.nav-1{
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo{
    flex: 1;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}
.logo img:hover{
    cursor: pointer;
}
.contact-info{
    flex: 2;
    width: 200px;
    word-wrap: break-word;
    
}
.contact-info img{
    height: 17px;
    vertical-align: bottom;
    margin-right: 5px;
}
.contact-info p{
    margin: 0;
}
.contact-info a{
    text-decoration: none;
    color: black;
}
.social-links{
    width: 100px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}
.social-links img{
    height: 15px;
}
.social-links img:hover{
    box-shadow: 0px 1px 0.8px rgba(0,0,0,0.2);
}



@media (max-width:430px){
    .nav-1{
        flex-direction: column;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    .contact-info{
        white-space: nowrap;
    }
    .contact-info p{
        font-size: 14px;
    }
}





/* nav 2 starts here  */

.nav-2{
    background-color: #1B98F5;
    color: white;
    padding: 15px;

    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
}
.menu-list{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu{
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.menu:hover{
    background-color: #1b91eb;
}
.menu:active{
    opacity: 0.8;
}
.menu-btn{
    display: none;
}

@media (max-width: 650px){
    .menu-list{
        display: none;
    }
    .menu-btn{
        display: flex;
        align-items: center;
    }
    .menu-btn img{
        margin-left: 10px;
        height: 30px;
        cursor: pointer;
    }
    .menu-btn p{
        margin-left: 10px;
    }
    .nav-2{
        padding: 9.2px;
    }
}

@media (max-width:430px){
    .nav-2{
        top: 100px;
    }
}




/* side bar menu starts here */

.sidebar-menu{
    z-index: 100;
    position: fixed;
    background-color: #1B98F5;
    top: 100px;
    bottom: 300px;
    left: 0;
    right: 0;

    display: none;
}
.close-btn{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 15px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.15s;

}
.close-btn:hover{
    background-color: #1b91eb;
}
.close-btn:active{
    opacity: 0.8;
}

.sidebar-menu-list{
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-sidebar-menu{
    display: flex;
}
.hide-sidebar-menu{
    display: none;
}



@media(max-width:430px){
    .sidebar-menu{
        bottom: 450px;
    }
}

  
