
.image-slider{
    margin-top: 100px;
    background-color: rgb(247, 244, 244);
    background-color: #ffffff09;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}


.image-container{
    overflow: hidden;
    width: 800px;
    height: 500px;

    position: relative;
}

.slides{
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active{
    opacity: 1;
}

.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #1B98F5;
    background-color: rgb(206, 202, 202);
    font-size: 28px;
    padding: 10px;
    cursor: pointer;

    opacity: 0.7;
}
.slider-btn:hover{
    background-color: #1B98F5;
    color: white;
}
.slider-btn:active{
    opacity: 0.4;
}
#prv-btn{
    left: 10px;
}

#next-btn{
    right: 10px;
}



@media(max-width:850px){
    .image-container{
        width: 500px;
    }
}

@media(max-width:650px){
    .image-container{
        width: 380px;
        height: 350px;
    }
}

@media(max-width:450px){
    .image-slider{
        margin-top: 110px;
    }
}