
.services-container{
    margin-top: 30px;
    padding: 20px;
}

.services-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-t1{
    font-size: 16px;
    color: #1B98F5;
}
.services-t2{
    font-size: 30px;
    font-weight: bolder;
}

.services-cards{
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.bus-icon{
    height: 50px;
}
.car-icon{
    height: 40px;
}
.hotel-icon{
    height: 50px;
}

.s-cards{
    display: grid;
    grid-template-columns: 50px 1fr;

    background-color: rgb(247, 244, 244);
    padding: 20px;

    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.s-cards-icon{
    margin-top: 15px;
}

.s-cards-info{
    margin-left: 20px;
}

.s-cards-info-t{
    font-size: 18px;
    font-weight: bold;
}


@media(max-width:650px){
    .services-cards{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}
