
.tours-title{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.tours-container{
    margin-top: 30px;
    margin-inline: auto;
    max-width: 1400px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    overflow: hidden;
}

.tours-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    background-color: #fff;
}

.tours-cards:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.tours-cards-img{
    height: 200px;
    width: 300px;
    overflow: hidden;
    margin-bottom: 15px;
}
.tours-cards-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-out 1s;
    background-color: black;
    filter: saturate(130%);
}

.tours-cards-img img:hover{
    scale: 1.05;
    opacity: 0.9;
}

.tci-title{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.tci-title a{
    color: black;
    text-decoration: none;
}
.tci-pkg{
    background-color: #1B98F5;
    color: white;
    padding: 8px;
}
.tci-phone{
    text-align: center;
}
.tci-phone a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}



@media(max-width:1380px){
    .tours-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:1030px){
    .tours-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:650px){
    .tours-container{
        grid-template-columns: 1fr;
    }
}