h1{
    margin-top: 100px;
    padding: 20px;
}
h4{
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.tours-pkg-table{
    margin: 20px auto;
}

.tours-pkg-table,th,td{
    border: 1px solid gray;
    padding: 10px;
    border-collapse: collapse;
}


@media(max-width:650px){
    .tours-pkg-table{
        margin: 20px 20px;
    }
}